.popup__submit {
    width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    /*position: absolute;
    top: 243px;
    left: 36px;*/
    margin: 48px 36px 0;
    font-family: 'interregular', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.popup__submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        margin: 45px 22px 0;
        font-size: 14px;
        line-height: 17px;
    }
}