@font-face {
    font-family: 'interregular';
    src: url('inter-v11-latin_cyrillic-regular.woff2') format('woff2'),
         url('inter-v11-latin_cyrillic-regular.woff') format('woff');
    font-weight: normal;
    font-style: 400;
}

@font-face {
    font-family: 'intermedium';
    src: url('inter-v11-latin_cyrillic-500.woff2') format('woff2'),
         url('inter-v11-latin_cyrillic-500.woff') format('woff');
    font-weight: normal;
    font-style: 500;
}

@font-face {
    font-family: 'interblack';
    src: url('inter-v11-latin_cyrillic-900.woff2') format('woff2'),
         url('inter-v11-latin_cyrillic-900.woff') format('woff');
    font-weight: normal;
    font-style: 900;
}