.popup__field1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 27px;
    opacity: 0.2;
    border: none;
    border-bottom: 1px solid #000000;
    /*position: absolute;
    top: 111px;
    left: 36px;*/
    margin: 54px 36px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .popup__field1 {
        width: 238px;
        margin: 75px 22px 0;        
    }
}